body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-background-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
